* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin:0px;
  text-align: center;
  font-family: "Franklin Gothic Book", sans-serif;
}
@font-face {
  font-family: 'Playlist Script';
  font-style: normal;
  font-weight: normal;
  src: local('Playlist Script'), url('Playlist Script.woff') format('woff');
}
#background{
  background-image: url('../inputs/images/booksbg.jfif');
  object-fit: fill;
  height: 100%;
  width: 100%;
  left:0;
}
.bodycontent{
  padding: 0px;
  margin: 0px auto;
  width: 80%;
  height: 100%;
  background-color: rgba(229, 237, 234, 0.95);
}
.navtopheader {
  padding: 0px;
  margin: auto;
  background-color: #e5edea;
  background-size: cover;
  color: black;
  width: 80%;
  text-align: left;
}
#clock span{
  margin: 0;
  display: inline-block;
  left:0;
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #f97b7b;
  box-shadow: 0 5px 15px #f97b7b;
  color: black;
  margin-left: 20px;
}
#clock span:first-child{
  margin-left: 10px;
}
#clock span:last-child{
  background-color: #FF5454;
}
/*FOR TEMPERATURE*/
.temperature-value{
  display: inline-block;
  position: relative;
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #FF5454;
  box-shadow: 0 5px 15px #FF5454;
  color: black;
  margin-left: -900px;
}

.tablink {
  border-radius: 15px;
  border: solid 1px black;
  background: #f6fb98;
  align-items:center;
  letter-spacing: 2px;
  padding: 10px;
  margin-top: 30px;

  transition: ease-out 0.3s;

  bottom: 0;
  margin-left: 50px;
}
.tablink a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;

}
.tablink:hover{
  background-color: #f97b7b;
  cursor: pointer;
}
/*styling the hoverable top nav*/
#mySidenav a {
  position: absolute;
  top: 0px;
  transition: 0.5s;
  padding: 10px;
  width: 150px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bold;
  letter-spacing: 3px;
  border-radius: 5px 5px ;
  font-family: 'Playlist Script';
  text-align: center;
}
/*background color of active page*/
#mySidenav a.active{
  top: 0px;
  padding-top: 85px;
}
/*when hover over*/
#mySidenav a:hover {
  top: 0px;
  padding-top: 100px;
  opacity: 0.85;
}
#about {
  right: 745px;
  padding-top: 75px;
  background: #f97b7b;
}
#resources {
  right: 555px;
  padding-top: 75px;
  background: #f97b7b;
}
#signup {
  right: 365px;
  padding-top: 75px;
  background: #f97b7b;
}
#game {
  right: 175px;
  padding-top: 75px;
  background: #f97b7b;
}
.navbutton2{
  display: inline;
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdownbtn{
  position: relative;
  display: inline-block;
  visibility: hidden;
  top: 20px;
  right: 20px;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: rgba(181, 252, 210, 1);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a{
  color: black;
  padding: 10px 13px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdownbtn:hover .dropdown-content{
  display: block;
}
.dropdownbtn:hover .navbutton{
  background-color: #3e8e41;
}
/*responsive*/
@media only screen and (max-width: 767px) {
  /* For tablets or phone */
  .dropdownbtn{
    width: 8%;
    visibility: visible;
  }
  #mySidenav{
    display: none;
  }
}
/*end of side nav bar*/

.pull-left{
  float:left;
}
.pull-right{
  float:right;
}
.clearfix:after,.clearfix:before{
  content:'';
  display:table
}
.clearfix:after{
  clear:both;
  display:block
}

/*CONTINUE WITH CALENDAR*/
.calendar{
  width:80%;
  margin: 0 auto;
  display: inline-block;
  perspective:1000px;
  cursor:default;
  position: relative;
}
/*INSERTS IN EVENT CALENDAR*/
.calendarleft{
  width: 50%;
  float: left;
  background-color: white;
  height: 580px;
}
.calendarleft .header2{
  height: 130px;
  background-color: #98a8fb;
  margin: auto;
  padding: 30px;
  color: black;
  font-family: 'Playlist Script';
  font-size: 30px;
  letter-spacing: 4px;
}
.calendarleft .table2{
  height: 50px;
  width: 80%;
  overflow: hidden;
  overflow-y: scroll;
  margin: 20px auto;
  border-collapse: collapse;
}
.calendarleft .table2 tr{
  height: 20px;
  width: 100%;
}
.calendarleft .table2 tr:nth-child(n){
  background-color: rgba(229,245,255,1);
}
.calendarleft .table2 tr:hover{
  background-color: rgba(203, 219, 255, 1);
}
.calendarleft .table2 th{
  background-color: #000f92;
  color: white;
  width: 30px;
  padding: 5px;
}
.calendarleft .table2 td{
  height: 20px;
  width: 30px;
  font-size: 20px;
  padding: 10px;
}
.addevent{
  position: absolute;
  margin: auto;
  width: 50%;
  text-align: left;
  padding: 0 50px 20px 50px;
  bottom: 0px;
  background-color: #e5f5ff;
}
.addevent h3{
  font-family: 'Playlist Script';
  font-size: 25px;
  letter-spacing: 3px;
}
.addevent #icon:hover{
  color:rgba(186, 186, 186, 1);
  cursor: pointer;
}
/*END*/
.calendar-right{
  width: 50%;
  float: right;
}
.calendar .header{
  height:130px;
  position:relative;
  color:#fff;
}
.calendar .header .text{
  font-size: 30px;
  font-family: 'Playlist Script';
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:20px;
  transform:rotateX(90deg);
  transform-origin:bottom;
  backface-visibility:hidden;
  transition:.4s ease-in-out 0s;
  opacity:0;
}
.calendar .header .text>span{
  text-align:center;
  padding:26px;
  display:block;
}
.calendar .header.active .text{
  transform:rotateX(0deg);
  opacity:1;
}
.months{
  width:100%;
  height:450px;
  position:relative;
}
.months .hr{
  height:1px;
  margin:15px 0;
  background:#ccc;
}
.month{
  width:inherit;
  height:inherit;
  background:#fff;
  position:absolute;
  backface-visibility:hidden;
  transition:all .4s ease-in-out 0s;
}
.months[data-flow="left"] .month{
  transform:rotateY(-180deg)
}
.months[data-flow="right"] .month{
  transform:rotateY(180deg);
}

.table{
  height: 100%;
  width:90%;
  margin: auto;
  font-size:20px;
  font-weight:400;
  display:table;
}
.table .row{
  display:table-row;
}
.table .row.head{
  color:#308ff0;
  text-transform:uppercase;
}
.table .row .cell{
  width:14.28%;
  height: 30px;
  padding:15px;
  text-align:center;
  margin: auto;
  display:table-cell;
}
.table .row .cell.disable{
  color:#ccc;
}
.table .row .cell span{
  display:block;
  width:38px;
  height:38px;
  line-height:28px;
  transition:color;
  background: .4s ease-in-out 0s;
}
.table .row .cell.active span{
  color:#fff;
  background-color:#308ff0;
}
.months .month[data-active="true"]{
  transform:rotateY(0)
}
.header [data-action]{
  color:inherit;
  position:absolute;
  top:50%;
  margin-top:-20px;
  width:40px;
  height:40px;
  z-index:1;
  opacity:0;
  transition:all .4s ease-in-out 0s;
}
.header [data-action]>i{
  width:20px;
  height:20px;
  display:block
  ;position:absolute;
  left:50%;
  top:50%;
  margin-top:-10px;
  margin-left:-10px;
}
.header [data-action]>i:before, .header [data-action]>i:after{
  top:50%;
  margin-top:-1px;
  content:'';
  position:absolute;
  height:2px;
  width:20px;
  border-top:2px solid;
  border-radius:2px;
}
.header [data-action*="prev"]{
  left:15px;
}
.header [data-action*="next"]{
  right:15px;
}
.header [data-action*="prev"]>i:before,.header [data-action*="prev"]>i:after{
  left:0;
}
.header [data-action*="prev"]>i:before{
  top:3px;
  transform:rotate(-45deg);
}
.header [data-action*="prev"]>i:after{
  top:auto;
  bottom:3px;
  transform:rotate(45deg);
}
.header [data-action*="next"]>i:before,.header [data-action*="next"]>i:after{
  right:0;
}
.header [data-action*="next"]>i:before{
  top:auto;
  bottom:3px;
  transform:rotate(-45deg);
}
.header [data-action*="next"]>i:after{
  top:3px;
  transform:rotate(45deg);
}
.header.active [data-action]{
  opacity:1;
}

[data-theme="jan"] .row.head{
  color:#1E88E5;
}
[data-theme="jan"] .header .text, [data-theme="jan"] .table .row .cell.active span{
  background-color:#1E88E5;
}

[data-theme="feb"] .row.head{
  color:#039BE5
}
[data-theme="feb"] .header .text, [data-theme="feb"] .table .row .cell.active span{
  background-color:#039BE5;
}

[data-theme="mar"] .row.head{
  color:#00897B;
}
[data-theme="mar"] .header .text, [data-theme="mar"] .table .row .cell.active span{
  background-color:#00897B;
}

[data-theme="apr"] .row.head{
  color:#7CB342;
}
[data-theme="apr"] .header .text, [data-theme="apr"] .table .row .cell.active span{
  background-color:#7CB342;
}

[data-theme="may"] .row.head{
  color:#FFB300;
}
[data-theme="may"] .header .text, [data-theme="may"] .table .row .cell.active span{
  background-color:#FFB300;
}

[data-theme="jun"] .row.head{
  color:#F4511E;
}
[data-theme="jun"] .header .text, [data-theme="jun"] .table .row .cell.active span{
  background-color:#F4511E;
}

[data-theme="jul"] .row.head{
  color:#8E24AA;
}
[data-theme="jul"] .header .text, [data-theme="jul"] .table .row .cell.active span{
  background-color:#8E24AA;
}

[data-theme="aug"] .row.head{
  color:#5E35B1;
}
[data-theme="aug"] .header .text, [data-theme="aug"] .table .row .cell.active span{
  background-color:#5E35B1;
}

[data-theme="sep"] .row.head{
  color:#E53935;
}
[data-theme="sep"] .header .text,
[data-theme="sep"] .table .row .cell.active span{
  background-color:#E53935;
}

[data-theme="oct"] .row.head{
  color:#8E24AA;
}
[data-theme="oct"] .header .text, [data-theme="oct"] .table .row .cell.active span{
  background-color:#8E24AA;
}

[data-theme="nov"] .row.head{
  color:#6D4C41;
}
[data-theme="nov"] .header .text, [data-theme="nov"] .table .row .cell.active span{
  background-color:#6D4C41;
}

[data-theme="dec"] .row.head{
  color:#546E7A;
}
[data-theme="dec"] .header .text, [data-theme="dec"] .table .row .cell.active span{
  background-color:#546E7A;
}

/*FOOTER*/
.footer .container{
	max-width: 80%;
	margin:auto;
}
.footer .row{
	display: flex;
	flex-wrap: wrap;
}
.footer ul{
	list-style: none;
}
.footer{
    padding: 70px 0;
    margin: auto;
}
.footer-col{
   width: 20%;
   padding: 0 15px;
   margin-left: 25px;
}
.footer-col p {
  text-align: left;
}
.footer-col h4{
	font-size: 30px;
  font-family: 'Playlist script';
	color: black;
  letter-spacing: 3px;
	text-transform: capitalize;
	margin-bottom: 25px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: black;
	text-decoration: none;
	font-weight: 300;
	color: black;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #531cd4;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: black;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
