body{
  font-family: "Franklin Gothic Book", sans-serif;
  align-items: center;
}
@font-face {
  font-family: 'Playlist Script';
  font-style: normal;
  font-weight: normal;
  src: local('Playlist Script'), url('Playlist Script.woff') format('woff');
}
.header {
  padding: 0px;
  margin: auto;
  background-color: #e5edea;
  background-size: cover;
  color: black;
  width: 80%;
  text-align: left;
}
#background{
  background-image: url('../inputs/images/booksbg.jfif');
  object-fit: cover;
  height: 100%;
  width: 100%;
  left:0;
}
.bodycontent{
  padding: 0px;
  margin: 0px auto;
  width: 80%;
  height: 100%;
  background-color: rgba(229, 237, 234, 0.95);
}
/*styling the hoverable top nav*/
#mySidenav a {
  position: absolute;
  top: 0px;
  transition: 0.5s;
  padding: 10px;
  width: 150px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bold;
  letter-spacing: 3px;
  border-radius: 5px 5px ;
  font-family: 'Playlist Script';
  text-align: center;
}
/*background color of active page*/
#mySidenav a.active{
  top: 0px;
  padding-top: 85px;
}
/*when hover over*/
#mySidenav a:hover {
  top: 0px;
  padding-top: 100px;
  opacity: 0.85;
}
#about {
  right: 745px;
  padding-top: 75px;
  background: #f97b7b;
}
#resources {
  right: 555px;
  padding-top: 75px;
  background: #f97b7b;
}
#signup {
  right: 365px;
  padding-top: 75px;
  background: #f97b7b;
}
#game {
  right: 175px;
  padding-top: 75px;
  background: #f97b7b;
}
/*end of side nav bar*/
#clock span{
  margin: 0;
  display: inline-block;
  left:0;
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #f97b7b;
  box-shadow: 0 5px 15px #f97b7b;
  color: black;
  margin-left: 20px;
}
#clock span:first-child{
  margin-left: 10px;
}
#clock span:last-child{
  background-color: #FF5454;
}
/*FOR TEMPERATURE*/
.temperature-value{
  display: inline-block;
  position: relative;
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #FF5454;
  box-shadow: 0 5px 15px #FF5454;
  color: black;
  margin-left: 20px;
}
/*hoverable thing for responsive tag*/
.navbutton2{
  background: #f97b7b;
  color: black;
  min-width: 175px;
  padding: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdownbtn{
  position: relative;
  display: inline-block;
  visibility: hidden;
  top: -10px;
  right: 20px;
}
.dropdown-content{
  display: none;
  position: absolute;
  background: #f97b7b;
  opacity: 0.8;
  min-width: 175px;
}
.dropdown-content a{
  color: black;
  padding: 10px 13px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdownbtn:hover .dropdown-content{
  display: block;
}
/*responsive*/
@media only screen and (max-width: 767px) {
  /* For tablets or phone */
  .dropdownbtn{
    width: 8%;
    visibility: visible;
  }
  #mySidenav{
    display: none;
  }
}
/*END*/
.accordion {
  width: 80%;
  margin: auto;
}
.accordion-body{
  padding: 30px;
  background-image: linear-gradient(rgba(241, 177, 177, 1), rgba(235, 241, 177, 1));
}
.accordion-body img{
  height: 375px;
  width: 625px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border: solid 1px black;
  background-color: #e3791c;
}
.accordion-body strong{
  font-family: 'Playlist Script';
  font-size: 30px;
  letter-spacing: 5px;
}
.accordion iframe{
  height: 375px;
  width: 625px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border: solid 1px black;
  background-color: #e3791c;
}

.content{
  margin: auto;
  padding: 20px;
}
.content h1{
  text-align: left;
  margin-left: 20px;
  font-size: 50px;
  letter-spacing: 7px;
  font-family: 'Playlist Script';
  padding: 20px;
}
#p{
  font-size: 20px;
  text-align: left;
  margin-left: 50px;
}
/*PRISCH.HTML -- MATH QUIZ*/
.game{
  background-image: linear-gradient(rgba(241, 177, 177, 1), rgba(235, 241, 177, 1));
  width: 80%;
  height: 400px;
  position: relative;
  margin: auto;
}
.game .startquiz{
  background: #f97b7b;
  visibility: visible;
  opacity: 1;
  height: 70px;
  padding: 20px 0;
}
.game .startquiz h2{
  font-family: 'Playlist Script';
  text-align: center;
  letter-spacing: 5px;
}
.game .startquizbtn{
  margin-left: 30px;
}
.game .startquizbtn:hover{
  color:rgba(186, 186, 186, 1);
  cursor: pointer;
}
.countdown{
  text-align: center;
  border-radius: 10px;
  border: solid 1px black;
}
.game .quiz{
  visibility: hidden;
}
.game .quiz.show{
  visibility: visible;
  opacity: 1;
  width: 80%;

  text-align: center;
  margin: auto;
}
.game .quiz.show .question{
  padding-top: 80px;
}
.game .quiz.show .question h2{
  font-size: 50px;
  letter-spacing: 7px;
}
.game .quiz.show .question input{
  width: 50%;
  border: none;
  height: 50px;
  font-size: 40px;
}
.game .quiz.show .question button{
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 20px;
  height: 40px;
  width: 100px;
  background: #f6fb98;
}
.game .quiz.show .question button:hover{
  text-decoration: underline;
  font-weight: bold;
  letter-spacing: 4px;
  background: #f97b7b;
}
/*FOOTER*/
.footer .container{
	max-width: 80%;
	margin:auto;
}
.footer .row{
	display: flex;
	flex-wrap: wrap;
}
.footer ul{
	list-style: none;
}
.footer{
    padding: 70px 0;

}
.footer-col{
   width: 20%;
   padding: 0 15px;
   margin-left: 25px;
}
.footer-col p {
  text-align: left;
}
.footer-col h4{
	font-size: 30px;
  font-family: 'Playlist script';
	color: black;
  letter-spacing: 3px;
	text-transform: capitalize;
	margin-bottom: 25px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: black;
	text-decoration: none;
	font-weight: 300;
	color: black;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #531cd4;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: black;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
